/* Copyright (c) 2012 by Vyacheslav Kirilenko, Gayane Bagdasaryan. All rights reserved. */

@font-face {
	font-family: 'Geometria Bold';
	src: url('#{$global-assets-path}assets/fonts/Geometria-Bold-webkit/Geometria-Bold.eot');
	src:
	     url('#{$global-assets-path}assets/fonts/Geometria-Bold-webkit/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
	     url('#{$global-assets-path}assets/fonts/Geometria-Bold-webkit/Geometria-Bold.woff2') format('woff2'),
	     url('#{$global-assets-path}assets/fonts/Geometria-Bold-webkit/Geometria-Bold.woff') format('woff'),
	     url('#{$global-assets-path}assets/fonts/Geometria-Bold-webkit/Geometria-Bold.ttf') format('truetype'),
	     url('#{$global-assets-path}assets/fonts/Geometria-Bold-webkit/Geometria-Bold.svg#Geometria-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}