// 0. Theme variables, mixin and helper classes
// ---------------------------------------------

// $cdx-font-rubik: Rubik, $body-font-family;
// $cdx-font-rubik-weight: 500;

// $cdx-body-padding-v: rem-calc(32);
// $cdx-body-padding-v-mb: rem-calc(24);
// $cdx-body-padding-h: rem-calc(48);
// $cdx-body-padding-h-mb: rem-calc(24);

// $cdx-body-nav-size: rem-calc(112);

$cdx-border-light: rem-calc(1) solid transparentize($cdx-light-gray, .7);
$cdx-border-blue: rem-calc(1) solid $cdx-blue;

// $cdx-line-size: rem-calc(5);
// $cdx-line-size--big: rem-calc(10);
// $cdx-line-size--small: rem-calc(3);

$cdx-min-width: rem-calc(320); // 375

$cdx-animation: .2s ease;
$cdx-animation-fast: .1s ease;

$cdx-hover-opacity: .7;
$cdx-hover-transparentize: .5;
$cdx-hover-opacity-btn: .6;

$cdx-z-index-nav: 50;

$cdx-bg-opacity: .8;

@mixin mixin-text-truncate($width: 100%) {
	overflow: hidden;
	max-width: $width;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}

@mixin visually-hidden() {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.zf-has-scroll {
  overflow: hidden !important;
}

.no-wrap {
	white-space: nowrap;
}

// 1. Typography
// --------------

@mixin mixin-t-h2() {
	font-size: rem-calc(32);
	line-height: 1;
	font-family: $header-font-family;

	@include breakpoint(medium) {
		font-size: rem-calc(48);
		line-height: (56/48);
	}
}

@mixin mixin-t-h2-small() {
	font-size: rem-calc(24);
	line-height: 1;
	font-family: $header-font-family;

	@include breakpoint(medium) {
		font-size: rem-calc(32);
	}
}

@mixin mixin-t-h3() {
	font-size: rem-calc(24);
	line-height: (32/24);
	font-family: $header-font-family;
}

@mixin mixin-t-h4() {
	font-size: rem-calc(19);
	line-height: 1;
	font-family: $header-font-family;

	@include breakpoint(medium) {
		font-size: rem-calc(24);
	}
}

@mixin mixin-t-text-bold() {
	font-family: $body-font-family;
	font-weight: 700;
  font-size: rem-calc(16);
  line-height: (28/16);
}

@mixin mixin-t-text-small() {
	font-family: $body-font-family;
	font-weight: 500;
	font-size: rem-calc(13);
	line-height: (20/13);
}

.t-h2 {
	@include mixin-t-h2();
}

.t-h2-small {
	@include mixin-t-h2-small();
}

.t-h3 {
	@include mixin-t-h3();
}

.t-h4 {
	@include mixin-t-h4();
}

.t-text {
	font-family: $body-font-family;
	font-weight: 500;
  font-size: rem-calc(16);
	line-height: (28/16);

	@include breakpoint(small only) {
		font-size: rem-calc(14);
		line-height: (24/14);
	}
}

.t-text-promo {
	font-family: $body-font-family;
	font-weight: 500;
  font-size: rem-calc(16);
	line-height: (24/16);
}

.t-text-small {
	@include mixin-t-text-small()
}

.t-text-small-bold {
	font-family: $body-font-family;
	font-weight: 700;
	font-size: rem-calc(13);
	line-height: (20/13);
}

.t-text-micro {
	font-family: $body-font-family;
	font-weight: 500;
	font-size: rem-calc(11);
	line-height: (10/11);
}

.t-text-bold {
	@include mixin-t-text-bold()
}

hr.hr {
	clear: both;
	height: 0;
	margin: 0;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: $cdx-border-light;
}

// 2. Layout
// ---------

.l-basic {
	min-width: $cdx-min-width;
	// padding: $cdx-body-nav-size $cdx-body-padding-h-mb $cdx-body-padding-v-mb;

	// @include breakpoint(large) {
	// 	padding: $cdx-body-nav-size $cdx-body-padding-h $cdx-body-padding-v;
	// }
}

// 3. Links
// --------

a {
	.link-image {
		transition: $cdx-animation;
	}

	&:hover {
		.link-image {
			opacity: $cdx-hover-opacity;
		}
	}
}

.link,
a.link {
	&--dark {
		color: $cdx-dark-gray;
		transition: color $cdx-animation;

		&:hover {
      color: transparentize($cdx-dark-gray, $cdx-hover-transparentize);
		}
	}

	&--black {
		color: $black;
		transition: color $cdx-animation;

		&:hover {
      color: transparentize($black, $cdx-hover-transparentize);
		}
	}

	&--white {
		color: $white;
		transition: color $cdx-animation;

		&:hover {
      color: transparentize($white, $cdx-hover-transparentize);
		}
	}

	&--blue {
		color: $cdx-blue;
		transition: color $cdx-animation;

		&:hover {
      color: transparentize($cdx-blue, $cdx-hover-transparentize);
		}
	}

// 	&--blue {
// 		color: $primary-color;
// 		transition: color $cdx-animation;

// 		&:hover {
// 			color: $secondary-color;
// 		}
// 	}

// 	&--pink-block {
// 		display: inline-block;

// 		.link__hover {
// 			color: $secondary-color;
// 			transition: color $cdx-animation, backgroung-color $cdx-animation;
// 		}

// 		&:hover span.link__hover {
// 			color: $white;
// 			background-color: $secondary-color;
// 		}
// 	}

// 	&--blue-block {
// 		display: inline-block;

// 		.link__hover {
// 			color: $primary-color;
// 			transition: color $cdx-animation, backgroung-color $cdx-animation;
// 		}

// 		&:hover span.link__hover {
// 			color: $white;
// 			background-color: $primary-color;
// 		}
// 	}

// 	&--lined {
// 		text-decoration: underline;
// 	}
}

// 4. Buttons
// ----------

@mixin mixin-btn-states($color-hover, $color-active) {
	&:hover {
		box-shadow: 0 0 6px 1px $color-hover;
	}

	&:active {
		box-shadow: 0 0 6px 1px $color-hover, inset 0 1px 3px 0 $color-active;
	}

	&:disabled {
		opacity: .5;
		pointer-events: none;
	}
}

@mixin mixin-btn-states($color-hover, $color-active) {
	&:hover {
		box-shadow: 0 0 rem-calc(6) rem-calc(1) $color-hover;
	}

	&:active {
		padding-top: rem-calc(2);
		box-shadow: 0 0 rem-calc(6) rem-calc(1) $color-hover, inset 0 rem-calc(1) rem-calc(3) 0 $color-active;
	}

	&:disabled,
	&.is-disabled {
		opacity: .5;
		pointer-events: none;
	}
}

.btn {
	font-family: $header-font-family;
	user-select: none;
	line-height: 1;
	display: inline-flex;
	cursor: pointer;
	padding: 0 rem-calc(16);
	min-height: rem-calc(40);
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	transition: box-shadow $cdx-animation, border $cdx-animation, opacity $cdx-animation, padding $cdx-animation;
	border-radius: rem-calc(20);
	outline: 0;

	&--small {
		min-height: rem-calc(32);
	}

	&--white {
		color: $cdx-dark-gray !important;
		background-color: $white;

		@include mixin-btn-states($white, $cdx-cool-gray)
	}

	&--blue {
		color: $white !important;
		background-color: $cdx-blue;

		@include mixin-btn-states($cdx-blue, $cdx-light-navy);
	}

	&--blue-border {
		color: $cdx-blue !important;
		border: 2px solid $cdx-blue;
		padding: 0 rem-calc(14);

		@include mixin-btn-states($cdx-blue, $cdx-light-navy);
	}

	&--red {
		color: $white !important;
		background-color: $cdx-red;

		@include mixin-btn-states($cdx-red, $cdx-claret);
	}
}

// 5. Lists
// --------

ul.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list__item {
	& + & {
		&:not(:first-child) {
			margin-top: rem-calc(12);

			@include breakpoint(medium) {
				margin-top: rem-calc(16);
			}
		}
	}

	ul.list--num & {
		display: flex;
	}
}

.list__counter {
	flex: 0 0 rem-calc(36);
}

// 6. Description
// ---------------
.description {
	h2 {
		@include mixin-t-h2-small();
	}

	h4 {
		@include mixin-t-h4();
	}

	h2,
	h4 {
		&:not(:first-child) {
			margin-top: rem-calc(48);
		}

		&:not(:last-child) {
			margin-bottom: rem-calc(24);
		}
	}

	ul,
	img,
	p {
		display: block;

		&:not(:first-child) {
			margin-top: rem-calc(12);

			@include breakpoint(medium) {
				margin-top: rem-calc(16);
			}
		}
	}

	.description__row {
		&:not(:first-child) {
			margin-top: rem-calc(24);
		}
	}

	.description__cell {
		&:not(:last-child) {
			margin-bottom: rem-calc(24);
		}
	}


	ul ul {
		margin-top: 0 !important;
	}
}


// 7. Label
// ---------

.label {
	display: inline-block;
	padding: rem-calc(4) rem-calc(8) rem-calc(3);
	border-radius: rem-calc(8);

	&--red {
		background: transparentize($cdx-red, $cdx-bg-opacity);
	}
}

// 8. Panels
// ---------

.panels__item {
	display: none;

	&.is-active {
		display: block;
	}
}

.panels__selector {
	position: relative;
	cursor: pointer;
}

.panels__selector-select {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	padding: 0;
	margin: 0;
}

// 10. Trapeze
// ---------

.trapeze-line {
	overflow: hidden;

	@include breakpoint(small only) {
		margin-left: rem-calc(-24);
		margin-right: rem-calc(-24);
	}

	@include breakpoint(medium only) {
		margin-left: rem-calc(-48);
		margin-right: rem-calc(-48);
	}
}

.trapeze-line__inner {
	background-repeat: no-repeat;
	background-position: center center;

	@include breakpoint(medium down) {
		background-size: auto 100%;
	}

	@include breakpoint(medium) {
		min-height: rem-calc(80);
	}

	@include breakpoint(large) {
		background-size: 100% 100%;
	}

  &--green-to-left {
    background-image: url('#{$global-assets-path}assets/img/trapeze--green-to-left.svg');
	}

	@include breakpoint(small only) {
		margin-left: rem-calc(-24);
		margin-right: rem-calc(-24);
		padding-left: rem-calc(24 + 24);
		padding-right: rem-calc(24 + 24);
	}

	@include breakpoint(medium only) {
		margin-left: rem-calc(-24);
		margin-right: rem-calc(-24);
		padding-left: rem-calc(48 + 24);
		padding-right: rem-calc(48 + 24);
	}
}

// 11. Menu
// ---------

.cdx-menu {
	display: flex;

	&--col {
		flex-direction: column;
	}
}

.cdx-menu__counter {
	font-size: 65%;
	top: -1.25em;
	margin-left: rem-calc(1);
}

.cdx-menu__item {
	&:not(:last-child) {
		margin-right: rem-calc(24);
	}

	.cdx-menu--col &:not(:last-child) {
		margin-right: 0;
		margin-bottom: rem-calc(32);
	}

	.cdx-menu--col.cdx-menu--small &:not(:last-child) {
		margin-bottom: rem-calc(8);
	}

	&--with-dot {
		a::after {
			vertical-align: middle;
			display: inline-block;
			content: '';
			width: rem-calc(8);
			height: rem-calc(8);
			margin-left: rem-calc(7);
			border-radius: 50%;
			background-color: $cdx-blue;
			transition: background-color $cdx-animation;
		}

		a:hover::after {
			background-color: transparentize($cdx-blue, $cdx-hover-transparentize);
		}
	}
}

.cdx-menu-inner {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;

	.cdx-menu__item > & {
		padding-top: rem-calc(24);
	}
}

.cdx-menu-inner__item {
	flex: 0 0 50%;
	margin-top: rem-calc(4);
}

// 12. Warning
// -----------

.warning {
	padding: rem-calc(9) rem-calc(16) rem-calc(8);

	&--red {
		background-color: transparentize($cdx-red, $cdx-bg-opacity);
	}

	&--red-border {
		box-shadow: 0 0 0 rem-calc(2) $cdx-red;
	}
}
