.block-footer__first {
  @include breakpoint(medium only) {
    display: flex;
    justify-content: space-between;
  }
}

.block-footer__second {
  @include breakpoint(small only) {
    margin-bottom: rem-calc(40);
  }
}

.block-footer__title {
  margin-bottom: rem-calc(24);

  @include breakpoint(medium only) {
    margin-right: rem-calc(48);
    margin-bottom: 0;
  }
}

.block-footer__content {
  .hr {
    @include breakpoint(small only) {
      margin-top: rem-calc(32);
      margin-bottom: rem-calc(32);
    }

    @include breakpoint(medium only) {
      margin-top: rem-calc(32);
      margin-bottom: rem-calc(24);
    }
  }
}

.block-footer__nav {
  padding-bottom: rem-calc(24);

  .hr {
    @include breakpoint(small only) {
      margin-top: rem-calc(32);
      margin-bottom: rem-calc(32);
    }

    @include breakpoint(medium only) {
      margin-top: rem-calc(32);
      margin-bottom: rem-calc(24);
    }

    @include breakpoint(large) {
      margin-top: rem-calc(50);
      margin-bottom: rem-calc(10);
    }
  }
}

.block-footer__bottom {
  background-color: transparentize($color: $cdx-gray, $amount: .9);
  padding-top: rem-calc(14);
  padding-bottom: rem-calc(11);

  @include breakpoint(small only) {
    padding-top: rem-calc(12);
    padding-bottom: rem-calc(16);
  }
}

.block-footer__bottom-left {
  @include breakpoint(small only) {
    margin-bottom: rem-calc(16)
  }
}

.block-footer__menu {
  line-height: rem-calc(32);
  display: flex;
  flex-flow: row wrap;

  &--right {
    @include breakpoint(medium) {
      justify-content: flex-end;
    }
  }

  &--small {
    line-height: rem-calc(20);
  }
}

.block-footer__menu-item {
  &:not(:last-child) {
    margin-right: rem-calc(32);
  }
}