.block {
  padding-top: rem-calc(60);
  padding-bottom: rem-calc(60);

  @include breakpoint(medium) {
    padding-top: rem-calc(80);
    padding-bottom: rem-calc(80);
  }

  &--colored {
    padding-top: 0;
    padding-bottom: 0;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 0;
    }

    &::before {
      border-top: rem-calc(30) solid transparent;

      @include breakpoint(medium) {
        border-top: rem-calc(40) solid transparent;
      }
    }

    &::after {
      border-bottom: rem-calc(30) solid transparent;

      @include breakpoint(medium) {
        border-bottom: rem-calc(40) solid transparent;
      }
    }
  }

  &--flat-bt {
    &::after {
      border-bottom-color: currentColor;
    }
  }

  &--flat-tp {
    &::before {
      border-top-color: currentColor;
    }
  }

  &--no-padding-bt {
    &::after {
      display: none;
    }
  }

  &--no-padding-tp {
    &::before {
      display: none;
    }
  }

  &--to-right {
    &::before,
    &::after {
      border-left: $cdx-min-width solid;

      @include breakpoint($cdx-min-width) {
        border-left-width: 100vw;
      }
    }
  }

  &--to-left {
    &::before,
    &::after {
      border-right: $cdx-min-width solid;

      @include breakpoint($cdx-min-width) {
        border-right-width: 100vw;
      }
    }
  }

  &--red {
    &::before,
    &::after {
      color: transparentize($cdx-red, $cdx-bg-opacity);
    }
  }

  &--green {
    &::before,
    &::after {
      color: transparentize($cdx-green, $cdx-bg-opacity);
    }
  }

  &--blue {
    &::before,
    &::after {
      color: transparentize($cdx-blue, $cdx-bg-opacity);
    }
  }

  &--gray {
    &::before,
    &::after {
      color: transparentize($cdx-gray, $cdx-bg-opacity);
    }
  }
}

.block__inner {
  .block--colored & {
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(30);

    @include breakpoint(medium) {
      padding-top: rem-calc(40);
      padding-bottom: rem-calc(40);
    }
  }

  .block--red & {
    background: transparentize($cdx-red, $cdx-bg-opacity);
  }

  .block--green & {
    background: transparentize($cdx-green, $cdx-bg-opacity);
  }

  .block--blue & {
    background: transparentize($cdx-blue, $cdx-bg-opacity);
  }

  .block--gray & {
    background: transparentize($cdx-gray, $cdx-bg-opacity);
  }

  .block--no-padding-bt & {
    padding-bottom: 0;
  }

  .block--no-padding-tp & {
    padding-top: 0;
  }
}

.block__title {
  margin-bottom: rem-calc(24);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(40);
  }
}

.block__title-btn {
  @include breakpoint(small only) {
    margin-top: rem-calc(22);
  }

  @include breakpoint(large) {
    text-align: right;
  }
}
