// CodeFest X accordion styles
// ---------------------------

.cdx-accordion {
	margin-bottom: 0;
  border-top: 2px solid $cdx-dark-gray;
  border-bottom: $cdx-border-light;

	h2 {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.cdx-accordion__title {
  position: relative;
	border: none !important;
  border-top: $cdx-border-light !important;
  padding: rem-calc(22) 0 rem-calc(21) rem-calc(48);

  .cdx-accordion__item:first-child & {
    border-top: none !important;
  }

	&:hover,
	&:focus {
		background-color: transparent;
	}

	&::before {
		content: '' !important;
		position: absolute;
		left: 0;
		top: 50%;
		margin: rem-calc(-14) 0 0;
		width: rem-calc(24);
		height: rem-calc(24);
		display: block;
		background: url('#{$global-assets-path}assets/icons/24/arrow--blue.svg') center center no-repeat;
		transition: transform $cdx-animation;
	}

	&:hover::before {
    opacity: $cdx-hover-opacity;
	}

	.cdx-accordion__item.is-active &::before {
		transform: rotate(-180deg);
	}
}

.cdx-accordion__content {
  border: none !important;
  // border-bottom: $cdx-border-light !important;
	padding: 0 0 rem-calc(32) rem-calc(48);
}