.header {
  min-height: rem-calc(104);

  @include breakpoint(large) {
    min-height: rem-calc(112);
  }
}

.header__fixed {
  position: fixed;
  width: 100%;
  z-index: $cdx-z-index-nav;
}

.header__inner {
  position: relative;
  margin: 0 auto;
  max-width: rem-calc(1920);
}

.header__logo {
  display: block;
  position: absolute;
  top: rem-calc(24);
  left: rem-calc(24);
  width: 69px;
  transition: opacity $cdx-animation;

  @include breakpoint(medium) {
    left: rem-calc(48);
  }

  @include breakpoint(large) {
    top: rem-calc(32);
  }

  &:hover {
    opacity: $cdx-hover-opacity;
  }
}

.header__menu-auth {
  position: absolute;
  top: 0;
  right: rem-calc(24);
  padding-top: rem-calc(24);

  @include breakpoint(medium) {
    right: rem-calc(48);
  }

  @include breakpoint(large) {
    padding-top: rem-calc(32);
  }
}

.header__burger {
  position: absolute;
  padding-top: rem-calc(24);
  top: 0;
  right: rem-calc(24);
  transition: opacity $cdx-animation;

  @include breakpoint(medium) {
    right: rem-calc(48);
  }

  @include breakpoint(large) {
    padding-top: rem-calc(32);
    opacity: 0;
    top: -999px;

    &.always-visible {
      top: 0;
      opacity: 1;
    }
  }

  .header__fixed.with-burger & {
    @include breakpoint(large) {
      top: 0;
      opacity: 1;
    }
  }

  .btn {
    padding: 0 rem-calc(16);
  }
}

.header__menu {
  padding-top: rem-calc(31 + 6); // + 6 чтобы линия текста совпала с линией текста кнопки авторизации
}

.header__menu-sub {
  margin-top: rem-calc(12);
}

.header__menu-auth {
  .cdx-menu {
    justify-content: flex-end;
  }
}
