@mixin mixin-icon-base($size) {
  display: block;
  height: rem-calc($size);
	width: rem-calc($size);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  &--round {
    border-radius: 50%;
    overflow: hidden;
  }

  &--inline {
    display: inline-block;
  }
}

.icon {
  @include mixin-icon-base(24);

  &--facebook {
    background-image: url('#{$global-assets-path}assets/icons/24/social-facebook.svg');
  }

  &--twitter {
    background-image: url('#{$global-assets-path}assets/icons/24/social-twitter.svg');
  }

  &--vkontakte {
    background-image: url('#{$global-assets-path}assets/icons/24/social-vkontakte.svg');
  }

  &--instagram {
    background-image: url('#{$global-assets-path}assets/icons/24/social-instagram.svg');
  }

  &--telegram {
    background-image: url('#{$global-assets-path}assets/icons/24/social-telegram.svg');
	}

  &--github {
    background-image: url('#{$global-assets-path}assets/icons/24/social-github.svg');
	}

  &--linkedin {
    background-image: url('#{$global-assets-path}assets/icons/24/social-linkedin.svg');
	}

  &--burger {
		background-image: url('#{$global-assets-path}assets/icons/24/burger.svg');
	}

  &--close {
		background-image: url('#{$global-assets-path}assets/icons/24/close--white.svg');
	}

  &--like-off {
		background-image: url('#{$global-assets-path}assets/icons/24/like--off.svg');
	}

  &--like-on {
		background-image: url('#{$global-assets-path}assets/icons/24/like--on.svg');
  }

  &--calendar {
		background-image: url('#{$global-assets-path}assets/icons/24/calendar.svg');
  }

  &--pin {
		background-image: url('#{$global-assets-path}assets/icons/24/pin.svg');
  }

  &--more {
    background-image: url('#{$global-assets-path}assets/icons/24/more.svg');
  }
}

.icon-big {
  @include mixin-icon-base(48);

  &--like-off {
		background-image: url('#{$global-assets-path}assets/icons/48/like--off.svg');
	}

  &--like-on {
		background-image: url('#{$global-assets-path}assets/icons/48/like--on.svg');
  }
}
