.item-speaker {
  min-height: rem-calc(72);

  @include breakpoint(medium) {
    min-height: rem-calc(96);
  }
}

.item-speaker__about {
  display: block;
  position: relative;
  padding-top: rem-calc(4);
  padding-left: rem-calc(88);

  @include breakpoint(medium) {
    padding-left: rem-calc(114);
  }
}

.item-speaker__talk {
  margin-top: rem-calc(8);
}

.item-speaker__image {
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: rem-calc(72);
  height: rem-calc(72);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include breakpoint(medium) {
    width: rem-calc(92);
    height: rem-calc(92);
  }
}

.item-speaker__company {
  line-height: 1;
  color: transparentize($black, 0.5);
}

.item-speaker__section {
  margin-top: rem-calc(4);
}
