.item-speaker-full__image {
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include breakpoint(small only) {
    width: rem-calc(40);
    height: rem-calc(40);
  }

  @include breakpoint(medium only) {
    width: rem-calc(72);
    height: rem-calc(72);
  }

  @include breakpoint(large) {
    width: 100%;
    padding-bottom: 100%;
  }

  img {
    width: 100%;
  }
}

.item-speaker-full__company {
  color: transparentize($black, 0.5);
  line-height: 1;
}

.item-speaker-full__company + .item-speaker-full__name {
  margin-top: rem-calc(8);
}

.item-speaker-full__name {
  @include breakpoint(medium) {
    margin-bottom: rem-calc(24);
  }
}

.item-speaker-full__description {
  @include breakpoint(small only) {
    margin-top: rem-calc(8);
  }
}

.item-speaker-full__social {
  margin-top: rem-calc(16);
}

.item-speaker-full__section {
  margin-top: rem-calc(4);
}
