.list-social {
  display: flex;
}

.list-social__item {
  & + & {
    margin-left: rem-calc(16);
  }

  .list-social--compact & + & {
    margin-left: rem-calc(8);
  }

  a, span {
    display: block;
  }
}