.list-speakers {
  margin-top: rem-calc(-24);

  @include breakpoint(medium) {
    margin-top: rem-calc(-32);
  }
}

.list-speakers__item {
  margin-top: rem-calc(24);

  @include breakpoint(medium) {
    margin-top: rem-calc(32);
  }
}