.page__title {
  @include breakpoint(small only) {
    padding-top: rem-calc(32);
    padding-bottom: rem-calc(24);
  }

  @include breakpoint(medium only) {
    padding-top: rem-calc(64);
    padding-bottom: rem-calc(40);
  }

  @include breakpoint(large) {
    padding-top: rem-calc(114);
    padding-bottom: rem-calc(48);
  }
}

.page__content {
  padding-bottom: rem-calc(60);

  @include breakpoint(medium) {
    padding-bottom: rem-calc(80);
  }
}

.page__block {
  & + & {
    margin-top: rem-calc(40);
  }
}

.page__block-title {
  &:not(:last-child) {
    margin-bottom: rem-calc(24);
  }
}

.page__block-title-btn {
  margin-bottom: rem-calc(-4);

  &:not(:first-child) {
    @include breakpoint(small only) {
      margin-top: rem-calc(20);
    }
  }

  @include breakpoint(medium) {
    margin-top: rem-calc(-4);
  }
}
