
.page-talk__meta {
  @include breakpoint(small only) {
    margin-bottom: rem-calc(40);
  }

  @include breakpoint(medium) {
    margin-bottom: rem-calc(44);
  }
}

.page-talk__meta-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(small only) {
    align-items: flex-start;
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(60);
  }

  @include breakpoint(large) {
    padding-left: 10%;
    padding-right: rem-calc(42);
    min-height: rem-calc(80);
  }
}

.page-talk__meta-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(small only) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 80%;
  }

  @include breakpoint(medium) {
    height: rem-calc(80);
    flex-direction: row;
    padding-top: rem-calc(28);
    padding-bottom: rem-calc(28);
    max-width: 90%;
  }
}

.page-talk__meta-icon {
  margin-right: rem-calc(16);
  vertical-align: bottom;
}

.page-talk__meta-favorites {
  flex-grow: 0;
  flex-shrink: 0;
  transition: opacity $cdx-animation;
  cursor: pointer;

  &:hover {
    opacity: $cdx-hover-opacity-btn;
  }
}

.page-talk__meta-item {
  @include mixin-text-truncate();
}

@include breakpoint(small only) {
  .page-talk__meta-item {
    font-size: rem-calc(24);

    & + & {
      margin-top: rem-calc(24);
    }
  }
}

@include breakpoint(medium) {
  .page-talk__meta-item {
    &--section {
      width: 30%;
    }

    &--date {
      width: 40%;
    }

    &--hall {
      width: 30%;
    }
  }
}
