ul.panels-tabs__nav {
  display: flex;
  flex-flow: row wrap;
  margin-top: rem-calc(-8);

  li {
    flex: 0 0 auto;
    margin-top: rem-calc(8);
  }
}

.panels-tabs__link {
	font-size: rem-calc(16);
  line-height: rem-calc(32);
	font-family: $header-font-family;
  display: block;
  height: rem-calc(32);
  padding: 0 rem-calc(12);
  border-radius: rem-calc(16);
  box-shadow: inset 0 0 0 0 transparent;
  box-sizing: border-box;
  transition: box-shadow $cdx-animation;

  &.is-active {
    border-radius: rem-calc(16);
    box-shadow: inset 0 0 0 2px $cdx-blue;
  }
}

.panels-tabs__selector {
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 0 0 2px $cdx-blue;
  box-sizing: border-box;
  border-radius: rem-calc(20);
}

.panels-tabs__selector-label {
  font-size: rem-calc(16);
  line-height: 1;
	font-family: $header-font-family;
  flex: 1 0 auto;
  padding: rem-calc(12);
  line-height: 1;
}

.panels-tabs__selector-icon {
  flex: 0 0 auto;
  margin: rem-calc(8);
}

.panels-tabs__faq {
  margin-top: rem-calc(48);
}