$popup-max-width: rem-calc(800);

.popup-nav__content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: transparentize($cdx-blue, $cdx-bg-opacity);
  }

  &--dt {
    flex-direction: row;
  }
}

.popup-nav__main {
  width: 100%;
  height: 100%;
  color: $white;
  background-color: $cdx-dark-turquoise;
  box-sizing: border-box;

  @include breakpoint(small only) {
    padding: rem-calc(120) rem-calc(24) rem-calc(72);
  }

  @include breakpoint(medium) {
    padding: rem-calc(120) rem-calc(80) rem-calc(40);
  }

  .popup-nav__content--dt & {
    position: relative;
    background-color: transparent;
    flex: 0 0 50vw;
    min-height: 100vh;
    padding: rem-calc(78) rem-calc(124) rem-calc(78) rem-calc(124);

    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      background-color: $cdx-dark-turquoise;
      transform: skew(12deg);
      box-shadow: -45vw 0 $cdx-dark-turquoise;
    }
  }
}

.popup-nav__nav {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  @include breakpoint(small only) {
    padding: rem-calc(40) rem-calc(24) rem-calc(72);
  }

  @include breakpoint(medium) {
    padding: rem-calc(40) rem-calc(80) rem-calc(72);
  }

  .popup-nav__content--dt & {
    flex: 0 0 50vw;
    min-height: 100vh;
    padding: rem-calc(78) rem-calc(124) rem-calc(78) rem-calc(24);
  }
}

.popup-nav__inner {
  max-width: $popup-max-width;
  margin: 0 auto;
}

.popup-nav__row {
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  &--reversed-in-col {
    flex-flow: column-reverse nowrap;
  }

  @include breakpoint(medium) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.popup-nav__col {
  box-sizing: border-box;
  flex: 0 0 50%;

  &:first-child {
    margin-bottom: rem-calc(40);
  }

  @include breakpoint(medium) {
    &:first-child {
      margin-bottom: 0;
      padding-right: rem-calc(24);
    }
  }
}

.popup-nav__when {
  margin-bottom: rem-calc(24);
}

hr.popup-nav__hr {
  border-bottom: $cdx-border-blue;
  margin-top: rem-calc(24);
  margin-bottom: rem-calc(24);

  @include breakpoint(medium) {
    margin-top: rem-calc(32);
    margin-bottom: rem-calc(32);
  }
}

.popup-nav__telegram {
  max-width: rem-calc(290);
}