// Popup styles
// ------------

.popup {
	min-width: $cdx-min-width;
  outline: none !important;
  position: relative;
  background-color: $white;
  padding: 0;

	&--full {
		// border: none !important;
		// padding: $theme-body-padding-v-mb $theme-body-padding-h-mb;
		// max-width: 100%;
		// top: 0 !important;

		@include breakpoint(large) {
			// padding: $theme-body-padding-v $theme-body-padding-h;
		}
	}
}

.popup__logo {
  position: absolute;
	top: rem-calc(24);
  left: rem-calc(24);

	@include breakpoint(medium) {
    top: rem-calc(32);
    left: rem-calc(48);
  }
}

.popup__close {
	cursor: pointer;
  position: absolute;
  padding: rem-calc(8);
	top: rem-calc(24);
  right: rem-calc(24);
  background-color: $cdx-blue;
  border-radius: 50%;
  overflow: hidden;

	@include breakpoint(medium) {
    top: rem-calc(32);
    right: rem-calc(48);
  }
}

.popup__logo,
.popup__close {
  transition: opacity $cdx-animation;
  z-index: 10;

  &:hover {
    opacity: $cdx-hover-opacity-btn;
  }
}