$promo-blue: transparentize($cdx-blue, .2);
$promo-angle-size: rem-calc(80);

.promo {
  z-index: 1;
  margin-top: rem-calc(24);
}

.promo__content {
  margin-top: rem-calc(16);
  line-height: (24/16);
  position: relative;
  color: $white;
  z-index: 1;

  &::before,
  &::after {
    content: '';
    z-index: 1;
    position: relative;
    display: block;
    height: 0;
    border-left: $promo-blue solid;

    @include breakpoint($cdx-min-width) {
      border-left-width: 100vw;
    }
  }

  &::before {
    border-top: $promo-angle-size solid transparent;

    @include breakpoint(medium) {
      border-top: $promo-angle-size solid transparent;
    }
  }

  &::after {
    border-bottom: $promo-angle-size solid transparent;

    @include breakpoint(medium) {
      border-bottom: $promo-angle-size solid transparent;
    }
  }
}

.promo__content-inner {
  position: relative;
  z-index: 1;
  background-color: $promo-blue;
  padding-top: rem-calc(56);
  padding-bottom: rem-calc(56);

  @include breakpoint(medium) {
    padding-top: rem-calc(100);
    padding-bottom: rem-calc(100);
    }
}

.promo__text + .promo__title {
  margin-top: rem-calc(16);

  @include breakpoint(medium) {
    margin-top: rem-calc(24);
  }
}

.promo__action {
  margin-top: rem-calc(16);

  .btn {
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
  }
}

.promo__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background: $cdx-gray;
  height: 100%;
  width: 100%;

  &::before,
  &::after {
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    height: 0;
    border-left: $white solid;

    @include breakpoint($cdx-min-width) {
      border-left-width: 100vw;
    }
  }

  &::after {
    top: 0;
    border-bottom: $promo-angle-size solid transparent;

    @include breakpoint(medium) {
      border-bottom: $promo-angle-size solid transparent;
    }
  }

  &::before {
    bottom: 0;
    border-top: $promo-angle-size solid transparent;

    @include breakpoint(medium) {
      border-top: $promo-angle-size solid transparent;
    }
  }
}

.promo__bg-image {
  background: url('#{$global-assets-path}assets/img/promo/bg.jpg') center center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}
