$promo-blue: rgba(135, 204, 232, 0.85);

.promo {
  margin-top: rem-calc(100);
}

.promo__content {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1000px;
    background-color: $promo-blue;
  }
}

.promo__content-angle {
  color: $promo-blue;
  position: absolute;
  right: 0;
  height: 100px;
  width: 1000px;

  &--tp {
    bottom: 100%;
  }

  &--bt {
    top: 100%;
  }
}

.promo__content-inner {
  position: relative;
  padding-right: rem-cacl(24);
}

.promo__date + .promo__title {
  margin-top: rem-calc(16);
}

.promo__action {
  margin-top: rem-calc(32);
}