<div class="grid-container page page-text">
  <div class="grid-x grid-margin-x">
    <h1 class="cell large-offset-2 large-7 page__title">
      Нормы поведения (Code of Conduct)
    </h1>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell large-offset-2 large-7 page__content">
      {{> page-text-example}}
    </div>
  </div>
</div>