<div class="block">
  <div class="grid-container">
    <h1>H1: Neque porro quisquam est qui dolorem</h1>
    <h2>H2: Neque porro </h2>
    <p class="t-text-bold">Bold Text: Lorem ipsum dolor sit amet</p>
    <p class="t-text-small">Base Text: Lorem ipsum dolor sit amet</p>
    <p class="t-text-small">Small Text: Lorem ipsum dolor sit amet</p>
    <p class="t-text-micro">Micro Text: Lorem ipsum dolor sit amet</p>
  </div>

  <br>
  <br>
  <br>

  <div class="grid-container" style="box-shadow: 0 0 0 2px red">
    <h2>Buttons</h2>
    <a href="#" class="btn btn--blue-border">Button</a>
    <br>
    <br>
    <a href="#" class="btn btn--blue">Button</a>
    <br>
    <br>
    <a href="#" class="btn btn--red">Button</a>
    <br>
    <br>
    <div style="padding: 16px; margin: 0 -16px; background: gray">
      <a href="#" class="btn btn--white">Button</a>
    </div>

    <h2>Buttons disabled</h2>
    <a href="#" class="btn btn--blue-border is-disabled">Button</a>
    <br>
    <br>
    <a href="#" class="btn btn--blue is-disabled">Button</a>
    <br>
    <br>
    <a href="#" class="btn btn--red is-disabled">Button</a>
    <br>
    <br>
    <div style="padding: 16px; margin: 0 -16px; background: gray">
      <a href="#" class="btn btn--white is-disabled">Button</a>
    </div>
  </div>

  <div class="grid-container" style="box-shadow: 0 0 0 2px red">
    <div class="grid-x grid-margin-x" style="box-shadow: 0 0 0 2px red">
      <h2 class="cell" style="box-shadow: inset 0 0 0 2px gray">Grid example</h2>
      <div class="cell small-4" style="box-shadow: inset 0 0 0 2px blue">
        <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur id mi ac ullamcorper. Fusce eget magna dignissim, porttitor nulla eu, vestibulum mi. Donec commodo ut felis non finibus. Ut imperdiet purus nec lacinia bibendum.</p>
      </div>
      <div class="cell small-8" style="box-shadow: inset 0 0 0 2px blue">
        <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur id mi ac ullamcorper. Fusce eget magna dignissim, porttitor nulla eu, vestibulum mi. Donec commodo ut felis non finibus. Ut imperdiet purus nec lacinia bibendum.</p>
      </div>
    </div>
  </div>
</div>

<div class="block block--colored block--green block--to-right">
  <div class="block__inner">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <h2 class="cell">H2: Neque porro quisquam est qui dolorem</h2>
        <div class="cell small-4">
          <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur id mi ac ullamcorper. Fusce eget magna dignissim, porttitor nulla eu, vestibulum mi. Donec commodo ut felis non finibus. Ut imperdiet purus nec lacinia bibendum.</p>
        </div>
        <div class="cell small-8">
          <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur id mi ac ullamcorper. Fusce eget magna dignissim, porttitor nulla eu, vestibulum mi. Donec commodo ut felis non finibus. Ut imperdiet purus nec lacinia bibendum.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="block__inner">
    <div class="grid-container">
      <h2>H2: Neque porro quisquam est qui dolorem</h2>
      <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur id mi ac ullamcorper. Fusce eget magna dignissim, porttitor nulla eu, vestibulum mi. Donec commodo ut felis non finibus. Ut imperdiet purus nec lacinia bibendum.</p>
    </div>
  </div>
</div>

<div class="block block--colored block--blue block--to-left">
  <div class="block__inner">
    <div class="grid-container">
      <h2>H2: Neque porro quisquam est qui dolorem</h2>
      <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur id mi ac ullamcorper. Fusce eget magna dignissim, porttitor nulla eu, vestibulum mi. Donec commodo ut felis non finibus. Ut imperdiet purus nec lacinia bibendum.</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="block__inner">
    <div class="grid-container">
      <h2>H2: Neque porro quisquam est qui dolorem</h2>
      <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur id mi ac ullamcorper. Fusce eget magna dignissim, porttitor nulla eu, vestibulum mi. Donec commodo ut felis non finibus. Ut imperdiet purus nec lacinia bibendum.</p>
    </div>
  </div>
</div>

<div class="block block--colored block--red block--to-right">
  <div class="block__inner">
    <div class="grid-container">
      <h2>H2: Neque porro quisquam est qui dolorem</h2>
      <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur id mi ac ullamcorper. Fusce eget magna dignissim, porttitor nulla eu, vestibulum mi. Donec commodo ut felis non finibus. Ut imperdiet purus nec lacinia bibendum.</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="block__inner">
    <div class="grid-container">
      <h2>H2: Neque porro quisquam est qui dolorem</h2>
      <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur id mi ac ullamcorper. Fusce eget magna dignissim, porttitor nulla eu, vestibulum mi. Donec commodo ut felis non finibus. Ut imperdiet purus nec lacinia bibendum.</p>
    </div>
  </div>
</div>

<div class="block block--colored block--gray block--to-right block--flat-bt">
  <div class="block__inner">
    <div class="grid-container">
      <h2>H2: Neque porro quisquam est qui dolorem</h2>
      <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur id mi ac ullamcorper. Fusce eget magna dignissim, porttitor nulla eu, vestibulum mi. Donec commodo ut felis non finibus. Ut imperdiet purus nec lacinia bibendum.</p>
    </div>
  </div>
</div>

<div class="block">
  <div class="block__inner">
    <div class="grid-container">
      <h2>H2: Neque porro quisquam est qui dolorem</h2>
      <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur id mi ac ullamcorper. Fusce eget magna dignissim, porttitor nulla eu, vestibulum mi. Donec commodo ut felis non finibus. Ut imperdiet purus nec lacinia bibendum.</p>
    </div>
  </div>
</div>
