<div class="grid-container page page-text">
  <div class="grid-x grid-margin-x">
    <h1 class="cell large-offset-2 large-7 page__title">
      FAQ
    </h1>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell large-offset-2 large-7 page__content">
      <div class="panels panels-tabs js-panels">
        <div class="show-for-medium">
          <ul class="list panels-tabs__nav">
            <li><a href="#faq-main" class="link link--black panels-tabs__link is-active js-panels-nav-item">Основные вопросы</a></li>
            <li><a href="#faq-price" class="link link--black panels-tabs__link js-panels-nav-item">Стоимость участия</a></li>
            <li><a href="#faq-dinner" class="link link--black panels-tabs__link js-panels-nav-item">Обеды на CodeFest</a></li>
            <li><a href="#faq-number" class="link link--black panels-tabs__link js-panels-nav-item">Важный номер!</a></li>
            <li><a href="#faq-place" class="link link--black panels-tabs__link js-panels-nav-item">Место проведения</a></li>
            <li><a href="#faq-transfer" class="link link--black panels-tabs__link js-panels-nav-item">Доставка автобусами</a></li>
          </ul>
        </div>

        <div class="panels__selector hide-for-medium">
          <div class="panels-tabs__selector">
            <span class="panels-tabs__selector-label js-panels-select-label">Основные вопросы</span>
            <span class="panels-tabs__selector-icon icon icon--more"></span>
          </div>

          <select class="panels__selector-select js-panels-select">
            <option value="faq-main" selected>Основные вопросы</option>
            <option value="faq-price">Стоимость участия</option>
            <option value="faq-dinner">Обеды на CodeFest</option>
            <option value="faq-number">Важный номер!</option>
            <option value="faq-place">Место проведения</option>
            <option value="faq-transfer">Доставка автобусами</option>
          </select>
        </div>

        <div class="panels-tabs__faq">
          <div data-id="faq-main" class="panels__item is-active js-panel">
            <div class="description">
              <h2>Где и когда?</h2>
              <p>CodeFest 2018 пройдет 31 марта—1 апреля 2018 года в Экспоцентре (в том, что в Новосибирске).</p>
              <p>Программа мероприятия в подробностях появится на сайте 26 февраля. Регистрация участников закроется 24 марта или раньше, если случится овербукинг. Регистрация и оплата — обязательные условия для участия в мероприятии.</p>

              <h2>Это платно?</h2>
              <p>Да, участие в CodeFest всегда платно. Стоимость участия в CodeFest 2018 составит 8 800 рублей без обедов. На CodeFest скидки не предусмотрены, а количество мест ограничено примерно 2 100 участниками.</p>
              <p>Есть мнение, что раздел «<a href="/" class="link link--blue">Стоимость участия» вас заинтересует</a>. Почитайте, пожалуйста.</p>

              <h2>Иногородним скидки в гостиницах</h2>
              <p>А ещё хостелы. Рекомендуем заглянуть <a href="/" class="link link--blue">в этот файлик</a>, чтобы воспользоваться специальными предложениями гостиниц для участников CodeFest и нашими рекомендациями по хостелам.</p>
              <p><a href="/" class="link link--blue">Гостиницы и хостелы</a></p>

              <h4>Трансфер из/в аэропорта-вокзала</h4>
              <p>Рекомендуем использовать iway — дороже обычного такси, но гарантировано надежно, прилично и фиксировано по цене, да ещё и с табличкой встретят.</p>

              <h4>Такси по городу</h4>
              <p>Мы рекомендуем использовать Убер или Яндекс. Такси, как наиболее универсальные и доступные по цене. Традиционный телефонный таксопарк можно выбрать на Флампе.</p>
            </div>
          </div>

          <div data-id="faq-price" class="panels__item js-panel">
            <div class="description">
              <h2>Сколько стоит?</h2>
              <p>А ещё хостелы. Рекомендуем заглянуть <a href="/" class="link link--blue">в этот файлик</a>, чтобы воспользоваться специальными предложениями гостиниц для участников CodeFest и нашими рекомендациями по хостелам.</p>
              <p><a href="/" class="link link--blue">Гостиницы и хостелы</a></p>
            </div>
          </div>

          <div data-id="faq-dinner" class="panels__item js-panel">
            <div class="description">
              <h2>Что с обедами?</h2>
              <img src="{{root}}assets/img/faq/dinner.jpg">
              <p>Мы рекомендуем использовать Убер или Яндекс. Такси, как наиболее универсальные и доступные по цене. Традиционный телефонный таксопарк можно выбрать на Флампе.</p>
            </div>
          </div>

          <div data-id="faq-number" class="panels__item js-panel">
            <div class="description">
              <h2>Номер участника</h2>
              <img src="{{root}}assets/img/faq/number.jpg">
              <p>Номер участника — это уникальный номер, который мы присваиваем каждому, кто зарегистрировался на CodeFest, и который действует в течение одного мероприятия.</p>
              <p>Номер участника — это ваш личный номер, и совсем не обязательно рассказывать его направо и налево. Конечно, кредитов на него злоумышленник не оформит, но нашкодить может, поэтому проявите сознательность и сохраните заветные цифры в секрете.</p>

              <h2>Зачем нужен номер участника?</h2>
              <p>Всё просто: в рамках борьбы с очередями у стойки регистрации на CodeFest, мы решили оптимизировать процесс и выдавать бейджики не по фамилии, а по номеру участника. То есть, придя на регистрацию, вы называете свой номер, а не фамилию, и мы практически мгновенно выдаём вам бейджик. Серьёзно, мы специально считали — скорость увеличилась примерно в 5 раз, а это значит, что если раньше вы топтались в очереди час, то теперь топтание составит не больше 12 минут (этот показатель выведен Британскими Учёными, так что гарантий не даём).</p>
              <p class="warning warning--red">Запомните свой номер участника, запишите его в телефон, чтобы быстро найти!</p>
            </div>
          </div>

          <div data-id="faq-place" class="panels__item js-panel">
            <div class="description">
              <h2>TODO: FAQ Place</h2>
            </div>
          </div>

          <div data-id="faq-transfer" class="panels__item js-panel">
            <div class="description">
              <h2>Доставка автобусами до Экспоцентра</h2>
              <p>В оба дня конференции мы организуем транспортное сообщение между цивилизацией и Экспоцентром. Как это будет?</p>
              <p class="warning warning--red">Важно! Расписание может измениться. Убедитесь в его актуальности перед отъездом.</p>

              <h2>31 марта от площади Ленина</h2>
              <p class="warning warning--red-border">31 марта в субботу автобусы и маршрутки будут ходить с площади Ленина. Не с Маркса. С площади Ленина из этой точки <a href="/" class="link link--blue">http://go.2gis.com/plex3</a></p>

              <div class="grid-x grid-margin-x medium-up-3 description__row">
                <div class="cell description__cell">
                  <h4>Утром</h4>
                  <p>Площадь Ленина (метро «Площадь Ленина»);</p>
                  <p><a href="/" class="link link--blue">Остановка</a> «Центр»; Рейс с 8:20 до 10:00;</p>
                </div>

                <div class="cell description__cell">
                  <h4>Днем 31 марта</h4>
                  <p>С 11:00 до 17:00 каждые 40 минут <a href="/" class="link link--blue">с той же остановки «Центр»</a> до Экспоцентра и обратно будет курсировать CodeFest-такси.</p>
                  <p>Выглядит оно, как Форд Транзит, но только это будет белый Мерседес и Пежо с большой табличкой «CodeFest» на стекле.</p>
                </div>

                <div class="cell description__cell">
                  <h4>Вечером 31 марта</h4>
                  <p>Отправление автобусов от Экспоцентра с 18:30. <br>через Афтепати до Площади Ленина.</p>
                </div>
              </div>

              <h2>1 апреля от площади Карла Маркса</h2>
              <div class="grid-x grid-margin-x medium-up-3 description__row">
                <div class="cell description__cell">
                  <h4>Утром</h4>
                  <p>Площадь Ленина (метро «Площадь Ленина»);</p>
                  <p><a href="/" class="link link--blue">Остановка</a> «Центр»; Рейс с 8:20 до 10:00;</p>
                </div>

                <div class="cell description__cell">
                  <h4>Днем</h4>
                  <p>С 11:00 до 17:00 каждые 40 минут <a href="/" class="link link--blue">с той же остановки «Центр»</a> до Экспоцентра и обратно будет курсировать CodeFest-такси.</p>
                  <p>Выглядит оно, как Форд Транзит, но только это будет белый Мерседес и Пежо с большой табличкой «CodeFest» на стекле.</p>
                </div>

                <div class="cell description__cell">
                  <h4>Вечером</h4>
                  <p>Отправление автобусов от Экспоцентра с 18:30. <br>через Афтепати до Площади Ленина.</p>
                </div>
              </div>

              <h2>Из Академгородка</h2>
              <div class="grid-x grid-margin-x medium-up-3 description__row">
                <div class="cell description__cell">
                  <h4>В общем</h4>
                  <p>Автобусы из Академгородка будут организованы 31 марта и 1 апреля, но только утром и вечером. Если не успеете — едьте до Площади Карла Маркса, а там на автобус или CodeFest-такси.</p>
                </div>

                <div class="cell description__cell">
                  <h4>Утром</h4>
                  <p>В Академгородке автобус будет ждать возле <a href="/" class="link link--blue">Дома Учёных</a>. Отправление:</p>
                  <p>31  марта с 8:00 до 8:30;</p>
                  <p>1 апреля с 8:30 до 9:10.</p>
                </div>

                <div class="cell description__cell">
                  <h4>Вечером</h4>
                  <p>Отправление автобуса от Экспоцентра до Цветного проезда 31 марта и 1 апреля в 18:30.</p>
                </div>
              </div>

              <h2>Удачной вам дороги и до встречи  на CodeFest!</h2>
              <p>На всякий случай — телефон экстренной помощи: <br>+7 953 857-51-30 (заработает 30 марта)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>