<div class="grid-container page page-text">
  <div class="grid-x grid-margin-x">
    <h1 class="cell large-offset-2 large-7 page__title">
      Публичная оферта о заключении договора на участие в конференции «CodeFest»
    </h1>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell large-offset-2 large-7 page__content">
      <div class="description">
        <p>
          Настоящий документ «Публичная оферта о заключении договора на участие в конференции «CodeFest» (далее — «Оферта») представляет собой предложение ИП Василькова Евгения Александровича, именуемого в дальнейшем «Исполнитель», заключить договор возмездного оказания услуг (далее – «Договор») на изложенных ниже условиях со всяким лицом, которое примет данное предложение (далее по тексту – «Заказчик»). При совместном упоминании Исполнитель и Заказчик далее именуются «Стороны».
        </p>

        <h4>
          1. Порядок заключения Договора
        </h4>

        <ul class="t-text-small list list--num">
          <li class="list__item">
            <div class="list__counter">1.1</div>
            <div class="list__content">
              <p>Оферта считается принятой Заказчиком и Договор заключенным Сторонами с момента выполнения Заказчиком совокупности следующих действий:</p>
              <p>а) Подачи заявки на участие в конференции «CodeFest» в электронной форме на сайте Исполнителя по адресу: <a href="/" class="link link--blue">https://2018.codefest.ru/reg</a>. Направление заявки осуществляется после ознакомления с текстом Оферты и установки флажка напротив фразы «С условиями Публичной оферты ознакомлен и согласен» путем активации гипертекстового элемента (кнопки), содержащего надпись «Зарегистрироваться». Направление заявки является основанием для выставления счета на заказанные услуги в электронной форме.</p>
              <p>б) Оплаты Заказчиком выставленного счета в течение установленного срока.</p>
              <p>Договор считается заключенным в отношении указанных в счете услуг с момента его оплаты в установленный срок.</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list__counter">1.2</div>
            <div class="list__content">
              <p>В соответствии с пунктом 3 статьи 434 и пунктом 3 статьи 438 ГК РФ письменная форма Договора считается соблюденной, если лицо, получившее оферту, в срок, установленный для ее акцепта, совершает действия по выполнению указанных в оферте условий Договора, в том числе действия по оплате услуг Исполнителя.</p>
            </div>
          </li>
        </ul>

        <h4>2. Предмет Договора </h4>

        <ul class="t-text-small list list--num">
          <li class="list__item">
            <div class="list__counter">2.1</div>
            <div class="list__content">
              <p>Исполнитель обязуется организовать оказание Заказчику информационно-консультационных услуг (далее — «Услуги») в рамках проведений конференции «CodeFest» (далее по тексту — «Конференция») на изложенных ниже условиях.</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list__counter">2.2</div>
            <div class="list__content">
              <p>При подаче Заказчиком заявки на очную форму участия в Конференции Услуги предоставляются в месте проведения Конференции: г. Новосибирск, улица Станционная, 104, Новосибирск Экспоцентр. Заявки на очную форму участия в Конференции могут быть поданы не позднее 29 марта 2018 года.</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list__counter">2.3</div>
            <div class="list__content">
              <p>При подаче Заказчиком заявки на заочную форму участия в Конференции Исполнитель организует оказание Услуг (при наличии возможности) путем предоставления Заказчику доступа к онлайн-трансляции Конференции на сайте Исполнителя.</p>
              <p>Заявки на заочную форму участия в Конференции могут быть поданы не позднее 17:00 часов 1 апреля 2018 года.</p>
              <p>Заявки на заочную форму участия в Конференции от юридических лиц и индивидуальных предпринимателей не принимаются.</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list__counter">2.4</div>
            <div class="list__content">
              <p>Время проведения Конференции: 31 марта—1 апреля 2018 года.</p>
            </div>
          </li>
          <li class="list__item">
            <div class="list__counter">2.5</div>
            <div class="list__content">
              <p>Программа Конференции размещена на сайте Исполнителя по адресу: <a href="/" class="link link--blue">https://2018.codefest.ru/program</a> и может изменяться по усмотрению Исполнителя.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>