<div class="grid-container page page-talk">
  <div class="grid-x grid-margin-x">
    <h1 class="cell large-offset-2 large-7 page__title">
      Как типизировать Redux-приложение на TypeScript или Flow и не умереть
    </h1>
  </div>

  <div class="page-talk__meta">
    <div class="grid-x grid-margin-x">
      <div class="cell large-offset-1 large-10">
        <div class="trapeze-line">
          <div class="trapeze-line__inner trapeze-line__inner--green-to-left">
            <div class="page-talk__meta-inner">
              <div class="page-talk__meta-content">
                <div class="page-talk__meta-item page-talk__meta-item--section t-h4">
                  {{talk.section}}
                </div>
                <div class="page-talk__meta-item page-talk__meta-item--date t-h4">
                  <span class="icon icon--calendar icon--inline page-talk__meta-icon"></span>
                  {{talk.time}}
                </div>
                <div class="page-talk__meta-item page-talk__meta-item--hall t-h4">
                  <span class="icon icon--pin icon--inline page-talk__meta-icon"></span>
                  {{talk.hall}}
                </div>
              </div>
              <div class="page-talk__meta-favorites">
                <div class="icon-big icon-big--like-{{#if talk.isFavorite}}on{{else}}off{{/if}} show-for-medium"></div>
                <div class="icon icon--like-{{#if talk.isFavorite}}on{{else}}off{{/if}} hide-for-medium"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell large-offset-2 large-7 page__content">
      <div class="page__block">
        <div class="responsive-embed widescreen">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/Eb-GH2bJUug?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="page__block">
        <div class="description">
          {{{talk.abstract}}}
        </div>
      </div>

      <div class="page__block">
        <div class="page__block-title grid-x grid-margin-x">
          <h2 class="cell medium-auto t-h4">
            Запись доклада
          </h2>

          <div class="cell medium-shrink page__block-title-btn">
            <a href="#" class="btn btn--red btn--small">Скачать PDF (3,5mb)</a>
          </div>
        </div>

        <div class="responsive-embed widescreen">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/Eb-GH2bJUug?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="page__block">
        <div class="page__block-title">
          <h2 class="t-h4">
            Встроенная презентация, если надо
          </h2>
        </div>

        <div class="responsive-embed widescreen">
          <iframe src="//www.slideshare.net/slideshow/embed_code/key/HFKhz1hYYvZxr3" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


{{#> block id="talk-speakers" color="blue" direction="right"}}
  {{> block-talk-speakers }}
{{/ block }}

{{#> block id="speakers" }}
  {{> block-speakers title="Другие спикеры секции Frontend:" showTitleButton=true }}
{{/ block }}
