<div class="grid-container">
  <div class="block__title grid-x grid-margin-x">
    <h2 class="cell medium-auto large-offset-1 large-8 t-h2-small">{{title}}</h2>
    {{#ifequal showTitleButton true}}
      <div class="cell medium-shrink large-2 block__title-btn">
        <a href="#" class="btn btn--red btn--small">Все секции</a>
      </div>
    {{/ifequal}}
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell large-offset-1 large-10">
      {{> list-speakers showSection=showSection}}
    </div>
  </div>
</div>