<footer>
  <div class="grid-container">
    <div class="grid-x grid-margin-x block-footer__content">
      <div class="cell large-offset-1 large-4 block-footer__first">
        <h3 class="block-footer__title">30-31 марта 2018, <br class="hide-for-medium-only">Новосибирск, Экспоцентр</h3>
        <div class="block-footer__social">
          {{> list-social items=social}}
        </div>
      </div>

      <hr class="cell hr hide-for-large">

      <div class="cell medium-6 large-3 block-footer__second">{{> telegram channel=telegramCdfst}}</div>
      <div class="cell medium-6 large-3 block-footer__third">{{> telegram channel=telegramCdfstChat}}</div>
    </div>

    <div class="grid-x grid-margin-x block-footer__nav">
      <hr class="hr cell large-offset-1 large-10">

      <div class="cell medium-9 large-offset-1 large-7">
        <ul class="list t-text-small block-footer__menu">
          <li class="block-footer__menu-item">
            <a href="offer.html" class="link link--dark">
              Публичная оферта
            </a>
          </li>
          <li class="block-footer__menu-item">
            <a href="agreement.html" class="link link--dark">
              Пользовательское соглашение
            </a>
          </li>
          <li class="block-footer__menu-item">
            <a href="privacy-policy.html" class="link link--dark">
              Политика конфиденциальности
            </a>
          </li>
          <li class="block-footer__menu-item">
            <a href="coc.html" class="link link--dark">
              Нормы поведения (Code of Conduct)
            </a>
          </li>
        </ul>
      </div>

      <div class="cell medium-3">
        <ul class="list t-text-small block-footer__menu block-footer__menu--right">
          <li class="block-footer__menu-item">
            <a href="mailto:org@codefest.ru" class="link link--dark">
              org@codefest.ru
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="block-footer__bottom">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell large-offset-1 large-10">
          <div class="grid-x grid-margin-x">
            <div class="cell medium-auto block-footer__bottom-left">
              <ul class="list t-text-micro block-footer__menu block-footer__menu--small block-footer__menu--years">
                {{#each years}}
                  <li class="block-footer__menu-item">
                    <a href="{{root}}" class="link link--dark">{{this}}</a>
                  </li>
                {{/each}}
              </ul>
            </div>

            <div class="cell medium-shrink">
              <ul class="list t-text-micro block-footer__menu block-footer__menu--small block-footer__menu--right">
                <li class="block-footer__menu-item">
                  <a href="{{root}}" class="link link--dark">
                    Дизайн: ADN Digital Studio
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>