<div class="grid-container">
  <div class="block__title grid-x grid-margin-x">
    <h2 class="cell large-offset-1 auto">Зачем&nbsp;мне все&nbsp;это?</h2>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell large-offset-1 large-7 description">
      <p>Блокчейн в проекте решает 3 задачи: защита данных от подделки, надёжность хранения и "оцифровка" данных из реального мира.</p>
      <p>Производить вычисления и хранить данные внутри блокчейна дороже, чем просто на сервере, поэтому для хранения и вычислений можно использовать другое ПО, а блокчейн становится защищённой базой данных. На большинстве проектов внутри блокчейна доступны только две операции запись и чтение.</p>
      <p>Но если помимо чтения и записи в блокчейне будут выполняться ещё какие-то операции непосредственно с данными, либо на их основе, то во-первых, это нужно учесть в архитектуре блокчейна (пример с архитектурой ethereum), а во-вторых, потребуется верифицировать не только данные, но и "сигналы" (события) из реального мира, которые могут приводить к изменениям состояния блокчейна и данных (пример работы с оракулами).</p>
    </div>
  </div>
</div>