<div id="promo" class="promo">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-6 large-offset-1 large-5 promo__content">
        <div class="promo__content-angle promo__content-angle--tp">
          <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="100" viewBox="0 0 1000 100">
            <path d="M0 0V100H1000L0 0Z" fill="currentColor"/>
          </svg>
        </div>
        <div class="promo__content-angle promo__content-angle--bt">
          <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="100" viewBox="0 0 1000 100">
            <path d="M0 100V0H1000L0 100Z" fill="currentColor"/>
          </svg>
        </div>
        <div class="promo__content-inner">
          <div class="promo__text">
            30-31 марта 2018, <br>Новосибирск, Экспоцентр
          </div>
          <div class="promo__title">
            <h2>Продажа билетов <br>начнется <br>15 января 2019</h2>
          </div>
          <div class="promo__action">
            <a href="{{root}}#promo" class="btn btn--white">
              Сообщить о начале продаж
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>