<div class="grid-container">
  <div class="block__title grid-x grid-margin-x">
    <h2 class="cell medium-auto large-offset-1 large-8 t-h2-small">
      {{title}}
    </h2>
    {{#if showTitleButton }}
      <div class="cell medium-shrink large-2 block__title-btn">
        <a href="#" class="btn btn--red btn--small">Все секции</a>
      </div>
    {{/if}}
  </div>

  {{> list-talk-speakers showSection=false}}
</div>