<div id="promo" class="promo">
  <div class="promo__content t-text-promo">
    <div class="promo__content-inner">
      <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <div class="cell large-offset-1 large-6">
            <div class="promo__text">
              30-31 марта 2019, <br>Новосибирск, Экспоцентр
            </div>
            <div class="promo__title">
              <h2>Продажа билетов <br>начнется <span class="no-wrap">15 января 2019</span></h2>
            </div>
            <div class="promo__action">
              <a href="{{root}}#promo" class="btn btn--white">
                Сообщить о начале продаж
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="promo__bg">
      <div class="promo__bg-image"></div>
    </div>
  </div>
</div>