<div class="grid-container">
  <div class="grid-x grid-margin-x block-faq__title">
    <h2 class="cell large-offset-1 large-11">Ответы на&nbsp;вопросы</h2>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell large-offset-1 large-7 description">
      <ul class="accordion cdx-accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
        {{#each faq}}
          <li class="accordion-item cdx-accordion__item {{#if @first}}is-active{{/if}}" data-accordion-item>
            <a href="#answer-{{@index}}" class="accordion-title cdx-accordion__title link link--dark">
              <h5>{{{this.question}}}</h5>
            </a>
            <div id="answer-{{@index}}" class="accordion-content description cdx-accordion__content" data-tab-content>
              {{{this.answer}}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="cell show-for-large large-offset-1 large-2">
      <div class="block-faq__telegram">{{> telegram channel=telegramCdfst}}</div>
      <div class="block-faq__telegram">{{> telegram channel=telegramCdfstChat}}</div>
    </div>
  </div>
</div>