<header id="header" class="header js-header">
  <div class="header__fixed js-header-fixed">
    <div class="header__inner">
      <a href="/" class="header__logo js-header-logo">
        <img src="{{root}}assets/img/logo--on-white.svg" alt="Логотип CodeFest X" width="69" height="80">
      </a>

      <div class="header__burger always-visible">
        <div id="burger" class="btn btn--blue-border" data-open="navigation">
          <div class="icon icon--burger"></div>
        </div>
      </div>
    </div>
  </div>

  {{! Если включаешь авторизацию то не забудь удалить класс always-visible с header__burger
  <div class="header__inner">
    <div class="header__menu-auth show-for-large">
      <a href="/" class="btn btn--blue t-text-bold">Вход</a>
    </div>
  </div>
  }}

  <div class="header__menu grid-container show-for-large">
    <div class="grid-x grid-margin-x">
      <div class="cell large-offset-1 large-8">
        <div class="header__menu-main">
          <ul class="list cdx-menu">
            <li class="cdx-menu__item">
              <a href="{{root}}#header" class="link link--black t-text-bold">Программа<sup class="cdx-menu__counter">563</sup></a>
            </li>
            <li class="cdx-menu__item">
              <a href="{{root}}#header" class="link link--black t-text-bold">Участники<sup class="cdx-menu__counter">2563</sup></a>
            </li>
            <li class="cdx-menu__item">
              <a href="{{root}}#header" class="link link--black t-text-bold">Вопросы и ответы</a>
            </li>
            <li class="cdx-menu__item">
              <a href="{{root}}#header" class="link link--black t-text-bold">О конференции</a>
            </li>
          </ul>
        </div>

        <div class="header__menu-sub">
          <ul class="list cdx-menu">
            <li class="cdx-menu__item">
              <a href="{{root}}#header" class="link link--black t-text-small">Партнерам</a>
            </li>
            <li class="cdx-menu__item">
              <a href="{{root}}#header" class="link link--black t-text-small">Как это было в 2018?</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>