<div class="item-speaker">
  <a href="talk.html" class="link link--dark item-speaker__about">
    <div class="item-speaker__image" style="background-image: url('{{root}}assets/img/speakers/{{speaker.image}}')"></div>
    {{#if speaker.company}}
      <div class="t-text-small item-speaker__company">
        {{speaker.company}}
      </div>
    {{/if}}
    <h5 class="item-speaker__name">
      {{speaker.name}}
    </h5>
    {{#if speaker.talk}}
      <div class="t-text-small item-speaker__talk">
        {{speaker.talk}}
      </div>
    {{/if}}
    {{#if showSection}}
      <div class="item-speaker__section t-text-micro">
        <span class="label label--red">{{speaker.section}}</span>
      </div>
    {{/if}}
  </a>
</div>