<div class="grid-x grid-margin-x item-speaker-full">
  <div class="cell shrink large-offset-1 large-1">
    <div class="item-speaker-full__image" style="background-image: url('{{root}}assets/img/speakers/{{speaker.image}}')"></div>
  </div>

  <div class="cell auto large-9">
    {{#if speaker.company}}
      <div class="t-text-small item-speaker-full__company">
        {{speaker.company}}
      </div>
    {{/if}}
    <h4 class="item-speaker-full__name">
      {{speaker.name}}
    </h4>
    <div class="show-for-medium">
      {{#if speaker.description}}
        <div class="description item-speaker-full__description">
          {{{speaker.description}}}
        </div>
      {{/if}}
      {{#if showSection}}
        <div class="item-speaker-full__section t-text-micro">
          <span class="label label--red">{{speaker.section}}</span>
        </div>
      {{/if}}
      <div class="item-speaker-full__social">
        {{> list-social items=speaker.social isCompact=true}}
      </div>
    </div>
  </div>

  <div class="cell large-offset-2 large-9 hide-for-medium">
    <div class="item-speaker-full__about">
      {{#if speaker.description}}
        <div class="description item-speaker-full__description">
          {{{speaker.description}}}
        </div>
      {{/if}}
      {{#if showSection}}
        <div class="item-speaker-full__section t-text-micro">
          <span class="label label--red">{{speaker.section}}</span>
        </div>
      {{/if}}
      <div class="item-speaker-full__social">
        {{> list-social items=speaker.social isCompact=true}}
      </div>
    </div>
  </div>
</div>
