<ul class="list list-social{{#if isCompact}} list-social--compact{{/if}}">
  {{#each items}}
    <li class="list-social__item">
      <a href="{{this.link}}" target="_blank" class="list-social__link" title="{{this.name}}">
        <span class="link-image icon icon--round icon--{{this.type}}"></span>
      </a>
    </li>
  {{/each}}
</ul>
