<div class="grid-x grid-margin-x medium-up-2 large-up-3 list-speakers">
  {{#each speakers}}
    <div class="cell list-speakers__item">
      {{> item-speaker speaker=this showSection=../showSection}}
    </div>
  {{/each}}
</div>
