<div class="description">
  <p>
    Настоящий документ «Публичная оферта о заключении договора на участие в конференции «CodeFest» (далее — «Оферта») представляет собой предложение ИП Василькова Евгения Александровича, именуемого в дальнейшем «Исполнитель», заключить договор возмездного оказания услуг (далее – «Договор») на изложенных ниже условиях со всяким лицом, которое примет данное предложение (далее по тексту – «Заказчик»). При совместном упоминании Исполнитель и Заказчик далее именуются «Стороны».
  </p>

  <h2>Заголовок 2</h4>

  <p class="t-text-small">
    Настоящий документ «Публичная оферта о заключении договора на участие в конференции «CodeFest» (далее — «Оферта») представляет собой предложение ИП Василькова Евгения Александровича, именуемого в дальнейшем «Исполнитель», заключить договор возмездного оказания услуг (далее – «Договор») на изложенных ниже условиях со всяким лицом, которое примет данное предложение (далее по тексту – «Заказчик»). При совместном упоминании Исполнитель и Заказчик далее именуются «Стороны».
  </p>

  <p class="t-text-small">
    Настоящий документ «Публичная оферта о заключении договора на участие в конференции «CodeFest» (далее — «Оферта») представляет собой предложение ИП Василькова Евгения Александровича, именуемого в дальнейшем «Исполнитель», заключить договор возмездного оказания услуг (далее – «Договор») на изложенных ниже условиях со всяким лицом, которое примет данное предложение (далее по тексту – «Заказчик»). При совместном упоминании Исполнитель и Заказчик далее именуются «Стороны».
  </p>

  <h4>
    Заголовок 4
  </h4>

  <ul class="t-text-small list list--num">
    <li class="list__item">
      <div class="list__counter">1.1</div>
      <div class="list__content">
        <p>Оферта считается принятой Заказчиком и Договор заключенным Сторонами с момента выполнения Заказчиком совокупности следующих действий:</p>
        <p>а) Подачи заявки на участие в конференции «CodeFest» в электронной форме на сайте Исполнителя по адресу: <a href="/" class="link link--blue">https://2018.codefest.ru/reg</a>. Направление заявки осуществляется после ознакомления с текстом Оферты и установки флажка напротив фразы «С условиями Публичной оферты ознакомлен и согласен» путем активации гипертекстового элемента (кнопки), содержащего надпись «Зарегистрироваться». Направление заявки является основанием для выставления счета на заказанные услуги в электронной форме.</p>
        <p>б) Оплаты Заказчиком выставленного счета в течение установленного срока.</p>
        <p>Договор считается заключенным в отношении указанных в счете услуг с момента его оплаты в установленный срок.</p>
      </div>
    </li>
    <li class="list__item">
      <div class="list__counter">1.2</div>
      <div class="list__content">
        <p>В соответствии с пунктом 3 статьи 434 и пунктом 3 статьи 438 ГК РФ письменная форма Договора считается соблюденной, если лицо, получившее оферту, в срок, установленный для ее акцепта, совершает действия по выполнению указанных в оферте условий Договора, в том числе действия по оплате услуг Исполнителя.</p>
      </div>
    </li>
  </ul>
</div>