<div class="full reveal popup popup--full popup-nav" id="navigation" data-reveal data-overlay="false">
	<div class="popup__content">
		<div class="popup__logo">
			<a href="{{root}}/">
				<img src="{{root}}assets/img/logo--on-black.svg" alt="Codefest logotype" width="46" height="52">
			</a>
		</div>

		<div class="popup-nav__content popup-nav__content--mb{{! hide-for-large}}">
			<div class="popup-nav__main">
				<div class="popup-nav__inner">
					<div class="popup-nav__row">
						<div class="popup-nav__col">
							<ul class="list cdx-menu cdx-menu--col">
								<li class="cdx-menu__item">
									<a href="{{root}}#header" class="link link--white t-h4">Участники<sup class="cdx-menu__counter">2563</sup></a>
								</li>
								<li class="cdx-menu__item">
									<a href="{{root}}#header" class="link link--white t-h4">Спикеры</a>
								</li>
								<li class="cdx-menu__item">
									<a href="{{root}}#header" class="link link--white t-h4">О конференции</a>
								</li>
								<li class="cdx-menu__item">
									<a href="{{root}}#header" class="link link--white t-h4">Партнерам</a>
								</li>
								<li class="cdx-menu__item">
									<a href="faq.html" class="link link--white t-h4">FAQ</a>
								</li>
								{{! Регистарция/ЛК
								<li class="cdx-menu__item">
									<a href="/" class="btn btn--blue t-text-bold">Личный кабинет</a>
								</li>
								}}
							</ul>
						</div>

						<div class="popup-nav__col">
							{{! Удалить для полного меню, этот контент есть ниже }}
							<h3 class="popup-nav__when">30-31 марта 2018, <br>Новосибирск, <br>Экспоцентр</h3>
							<div class="popup-nav__social">
								{{> list-social items=social}}
							</div>

							{{!-- <!-- Полное меню
							<ul class="list cdx-menu cdx-menu--col">
								<li class="cdx-menu__item">
									<a href="{{root}}#header" class="link link--white t-h4">Программа</a>
									<ul class="list cdx-menu-inner">
										<li class="cdx-menu-inner__item">
											<a href="{{root}}#header" class="link link--white t-text-small-bold">Future</a>
										</li>
										<li class="cdx-menu-inner__item">
											<a href="{{root}}#header" class="link link--white t-text-small-bold">Design</a>
										</li>
										<li class="cdx-menu-inner__item">
											<a href="{{root}}#header" class="link link--white t-text-small-bold">Backend</a>
										</li>
										<li class="cdx-menu-inner__item">
											<a href="{{root}}#header" class="link link--white t-text-small-bold">Backend 2</a>
										</li>
										<li class="cdx-menu-inner__item">
											<a href="{{root}}#header" class="link link--white t-text-small-bold">Frontend</a>
										</li>
										<li class="cdx-menu-inner__item">
											<a href="{{root}}#header" class="link link--white t-text-small-bold">QA</a>
										</li>
										<li class="cdx-menu-inner__item">
											<a href="{{root}}#header" class="link link--white t-text-small-bold">Mobile</a>
										</li>
										<li class="cdx-menu-inner__item">
											<a href="{{root}}#header" class="link link--white t-text-small-bold">Creative</a>
										</li>
										<li class="cdx-menu-inner__item">
											<a href="{{root}}#header" class="link link--white t-text-small-bold">Managment</a>
										</li>
										<li class="cdx-menu-inner__item">
											<a href="{{root}}#header" class="link link--white t-text-small-bold">DevOps</a>
										</li>
										<li class="cdx-menu-inner__item">
											<a href="{{root}}#header" class="link link--white t-text-small-bold">Mix</a>
										</li>
									</ul>

									<div>
										<a href="{{root}}#header" class="btn btn--white t-text-bold">Все секции</a>
									</div>
								</li>
							</ul>
							--> --}}
						</div>
					</div>
				</div>
			</div>

			<div class="popup-nav__nav">
				<div class="popup-nav__inner">
					{{!-- <!-- Полное меню
					<div class="popup-nav__row popup-nav__row--reversed-in-col">
						<div class="popup-nav__col">
							<h3 class="popup-nav__when">30-31 марта 2018, <br>Новосибирск, <br>Экспоцентр</h3>
							<div class="popup-nav__social">
								{{> list-social items=social}}
							</div>
						</div>

						<hr class="hr popup-nav__hr hide-for-medium">

						<div class="popup-nav__col">
							<ul class="list cdx-menu cdx-menu--col cdx-menu--small">
								<li class="cdx-menu__item">
									<a href="{{root}}#header" class="link link--black t-text-small">Афтепати</a>
								</li>
								<li class="cdx-menu__item">
									<a href="faq.html" class="link link--black t-text-small">Ответы на вопросы</a>
								</li>
								<li class="cdx-menu__item">
									<a href="{{root}}#header" class="link link--black t-text-small">Памятка участнику по пути на CodeFest</a>
								</li>
								<li class="cdx-menu__item">
									<a href="{{root}}#header" class="link link--black t-text-small">Схема Экспоцентра</a>
								</li>
								<li class="cdx-menu__item">
									<a href="{{root}}#header" class="link link--black t-text-small">Автобусы до Экспоцентра</a>
								</li>
								<li class="cdx-menu__item">
									<a href="{{root}}#header" class="link link--black t-text-small">Как это было в 2018 году?</a>
								</li>
							</ul>
						</div>
					</div>


					<hr class="hr popup-nav__hr show-for-medium">
					--> --}}

					<div class="popup-nav__row">
						<div class="popup-nav__col">
							<div class="popup-nav__telegram">
								{{> telegram channel=telegramCdfst}}
							</div>
						</div>

						<div class="popup-nav__col">
							<div class="popup-nav__telegram">
								{{> telegram channel=telegramCdfstChat}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{!-- <!-- Горизонтальный попап, еще не готов, вероятно и не будет готов
		<div class="popup-nav__content popup-nav__content--dt show-for-large">
			<div class="popup-nav__main">
				<div class="popup-nav__inner">
					<h2>Program</h2>
				</div>
			</div>

			<div class="popup-nav__nav">
				<div class="popup-nav__inner">
					<h2>Nav</h2>
				</div>
			</div>
		</div>
		--> --}}
	</div>

	<div class="popup__close" data-close>
		<div class="icon icon--close"></div>
	</div>
</div>
