<div class="telegram">
  <p class="t-text-small telegram__description">
    {{{channel.description}}}
  </p>
  <a href="{{channel.link}}" target="_blank" class="t-text-bold link link--dark telegram__link">
    <span class="link-image icon icon--round icon--telegram telegram__icon"></span>
    {{channel.name}}
  </a>
</div>
