{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeFest X</title>
    <link rel="shortcut icon" type="image/png" href="{{root}}assets/img/favicon.png" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&amp;subset=cyrillic" rel="stylesheet">
  </head>
<body class="l-basic t-text">

{{> header }}

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body }}

{{#> block id="footer" color="gray" direction="right" noPadding="bt"}}
  {{> block-footer }}
{{/ block }}

{{> popup-nav }}

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
